		h1 {
			color: #6D98BA;
			font-size: 76px;
			font-family: sans-serif;
			text-align:center;
			padding: 32px 32px 32px 0;
		}
		
		p{
			text-align:justify;
			
		} 
		
		#contacto {
			text-align:center;
		}
		
		h2 {
			color: #6D98BA;
			font-family: sans-serif;
		}
		
		img {
		width: 300px;
		}

		a{
		color:red;
		font-family: sans-serif;
		text-decoration: underline 3px solid #C17767;
		font-weight: 'Strong';
		}
		
		a:visited{
			color:#210203;
		}
	
		ul{
		list-style: none;
		}
		
		header ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		max-width: 671px;
		}
		
		header nav ul a{
			display:block;
			padding: 60px 140px 60px 140px;
			color:#6D98BA;
			text-decoration:none;
			background-color: #E6AA68;
		}
	
		header nav ul a:hover{
			    text-decoration: none;
				color: rgb(48, 47, 47);
		}
		
		main {
			margin: 50px 50px;
			width: 60%;
		}
		
		body {
		  margin: 10px;
		  background-color: #FFFBBD;
		}
		
		footer {
			display:flex;
			flex-direction:row-reverse;
			justify-content:center;
			align-items:center;
			padding:16px;
			background-color: #E6AA68;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
		
		footer nav ul{
			list-style:none;
			padding:0;
			text-align:right;
		}
		
		footer nav a{
			color:#F5F4B3;
			background-color:transparent;
			text-decoration:underline;
		}
		
		.error {
			color:#ff0000;
		}
		
		.you-win{
			color:#44723E;
		}
		
		#campo-comentario{
			width:300px;
			height:150px;
		}
		
		details {
		  padding: 10px;
		  background-color: #E6AA68;
		  border-radius: 5px;
		}

		h1.clip-text {
		  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgiffiles.alphacoders.com%2F120%2F120237.gif&f=1&nofb=1&ipt=61ea0e162a4d1c52d6614191d6d5af1b3643b18d4e6c3e72f059a2648981da78);
		  background-size: cover;
		  background-position: center;

		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent; /* Para navegadores WebKit */
		  color: transparent; /* fallback */

		  width: 600px;
		  height: 200px;
		  box-sizing: border-box;
		  font-size: 58px;
		  font-weight: bold;
		  text-align: center;
		  line-height: 100px;
		  margin: 0 auto;
		}